<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <div id="container">
        <div id="part1">
            <div id="companyinfo"> <a id="sitelink" href="#"><img src="/assets/image/2.png" alt="..." height="37"></a>
                <p id="title">Address</p>
                <p id="detail">USA: 1001 Cobb Creek Rd, Georgetown, TX 78633, USA

                    India: 802, Pearls Omaxe, Netaji Subhash Place, New Delhi - 110034<br>
                    
                    Phone:
                    +91-011-41059668 </p>
            </div>
            <div id="explore">
                <p id="txt1">Explore</p> <a class="link" href="#">Home</a> <a class="link" href="#">About</a> <a class="link" href="#">Snippet</a> <a class="link" href="#">Careers</a>
            </div>
            <div id="visit">
                <p id="txt2">Dynapt</p>
                <p class="text">sales@dynaptsolutions.com </p>
                <p class="text">support@dynaptsolutions.com</p>
                <p class="text"></p>
                <p class="text"> </p>
                <p class="text"> </p>
            </div>
            <div id="legal">
                <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private Policy</a>
            </div>
            <div id="subscribe">
                <p id="txt4">Subscribe to US</p>
                <form> <input id="email" type="email" placeholder="Email"> </form> <a class="waves-effect waves-light btn">Subscribe</a>
                <p id="txt5">Connect With US</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
            </div>
        </div>
        <div id="part2">
            <p id="txt6"><i class="material-icons tiny"> copyright</i>2020 Copyrights. All Rights Reserved.</p>
        </div>
    </div>
