  body {
    background-image: url(/assets/image/1.jpg );
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding {
    padding: 5rem !important
}

.signup-form {
    background-color: #fff;
    padding: 45px;
    border-radius: 1px
}

h2 {
    font-size: 36px;
    letter-spacing: 0.08em
}

.signup-form .form-control {
    font-size: 16px;
    padding: 10px 15px;
    color: #555;
    background-color: #fff;
    border-radius: 3px
}

.signup-form input {
    border: 7px solid #eee;
    height: 39px;
    box-shadow: none !important
}

.btn-blue {
    text-align: center;
    background: #44c5ee;
    padding: 27px 279px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    outline: none !important
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background: #fff;
    color: #496174
}