<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/image/2.png" alt="..." height="37"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
          <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Products</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Accelerators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Execute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Contacts</a>
          </li>
        </ul>
     
      </div>
    </div>
  </nav>











